<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.Net MVC Modal Dialog</title>
</head>
<body>
    @Ajax.ModalDialogActionLink("Please click to open the modal dialog", "Dialog1", "Home", "Dialog 1", null, null, "tratamentoCallBack1")
    <br />
</body>
@section scripts{
    @Scripts.Render("~/Scripts/callbacks/callbacks.js")
}
</html>


