<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.Net MVC Modal Dialog</title>
</head>
    <body>
        @Ajax.ModalDialogActionLink("Please click to open the modal dialog", "Dialog1", "Dialog1")
    </body>
</html>
